//Collection: Users
//Private collection, only publish the entry that matches the current userID which has logged in
{
	_id: "bbca5d6a-2156-41c4-89da-0329e8c99a4f",  // Meteor.userId()
  username: "cool_kid_13", // unique name
  emails: [
    // each email address can only belong to one user.
    { address: "cool@example.com", verified: true },
    { address: "another@different.com", verified: false }
  ],
  createdAt: Wed Aug 21 2013 15:16:52 GMT-0700 (PDT),
  profile: {
    // The profile is writable by the user by default.
    name: "Joe Schmoe",
    userType: <Patient|Admin|Clinic|Practitioner>,
    userTypeID: <unique ID in the corresponding collection>,
    sessionList: [
    	{	sessionID: <unique sesisonID>, configID: <unique config ID> }
    ]
  },
	"services" : {
		"password" : {
				"srp" : {
				"identity" : "qyFCnw4MmRbmGyBdN",
				"salt" : "YcBjRa7ArXn5tdCdE",
				"verifier" : "df2c001edadf4e475e703fa8cd093abd4b63afccbca48fa
				d1d2a0986ff2bcfba920d3f122d358c4af0c287f8eaf9690a2c7e376d701ab2fe1acd53a5bc3e
				843905d5dcaf2f1c47c25bf5dd87764d1f58c8c01e4539872a9765d2b27c700dcdedadf5ac825
				21467356d3f91dbeaf9848158987c6d359c5423e6b9cabf34fa0b45"
				}
			},
			"resume" : {
				"loginTokens" : [
				{
				"token" : "BMHipQqjfLoPz7gru",
				"when" : 1365649830922
				}
			]
		}
	},
}
//Collection: Patients
//Private collection, only publish the entry that matches the current userID
//publish only taskList associated with the specific userID
{
	_id: <unique patientid>,
	userID: <unique userID from Users collection>,
	taskList: [ 
		{	taskID: <uniqueTaskID>	},
		{	taskID: <uniqueTaskID>	}
	],
	configList: [ 
		{	configID: <configTaskID>	},
		{	configID: <configTaskID>	}
	],
	practitionerList: [ 
		{	practitionerID: <practitionerTaskID>	},
		{	practitionerID: <practitionerTaskID>	}
	],
	clinicList: [ 
		{	clinicID: <clinicTaskID>	},
		{	clinicID: <clinicTaskID>	}
	],
}
//Collection: Practitioners
//Private collection, only publish the entry that matches the current userID
//publish everything associated with the specific userID
{
	_id: <unique practitionerID>,
	userID: <unique userID from Users collection>,
	taskList: [ 
		{	taskID: <uniqueTaskID>	},
		{	taskID: <uniqueTaskID>	}
	],
	configList: [ 
		{	configID: <configTaskID>	},
		{	configID: <configTaskID>	}
	],
	clinicList: [ 
		{	clinicID: <clinicTaskID>	},
		{	clinicID: <clinicTaskID>	}
	],
	patientList: [
		{	patientID: <patientTaskID>	},
		{	patientID: <patientTaskID>	}
	],
}	
//Collection: Clinic
//Private collection, only publish the entry for the current userID
//publish everything associated with the specific userID
{
	_id: <unique clinicID>,
	userID: <unique userID from Users collection>,
	taskList: [ 
		{	taskID: <uniqueTaskID>	},
		{	taskID: <uniqueTaskID>	}
	],
	configList: [ 
		{	configID: <configTaskID>	},
		{	configID: <configTaskID>	}
	],
	patientList: [
		{	patientID: <patientTaskID>	},
		{	patientID: <patientTaskID>	}
	],
	practitionerList: [ 
		{	practitionerID: <practitionerTaskID>	},
		{	practitionerID: <practitionerTaskID>	}
	],
}
//Collection: Configurations
//These should only only show up to those users who have the corresponding ID in their lists
//only publish the _id 
{
	_id: <unique configID>,
	templateConfig [ <json object with template data> ],
	dataConfig [ <json object with data layout for sending/recieving> ],
}
//Collection: surveyData
//Should only be available to the userID and practitionerID associated with each object
//only publish the _id, userID
{
	_id: <unique surveyID>,
	dataObject: <json object containing data for this survey>,
	dataCompleted: <data entry>,
	userID: <user who completed it>,
	practitionerID: <practitioner associated with task>
}
//Collection: Tasks
//should only be acessible by the creatorID and userID associated with it
//only publish the _id, userID
{
	_id: <unique taskID>,
	notes: <info on task>,
	creatorID: <userID who craeted the task>,
	userID: <userID associated with task>,
	dateCreated: <date>,
	dateCompleted: <date>,
	taskInfo: {
		configID: <config it is associated with, can be blank>,
	}
}
//Collection: Sessions
//private collection, only allow the associated userID to acces their session history.
//only publish the _id and configID
{
	_id: <unique sessionID>,
	userID: <unique userID associated with the session>,
	dateCreated: <date session information saved>,
	configID: <configuration thatthe session is associated with>,
	dataObject: <json object containing the data from the session>
}